@import './filter-range'
@import './filter-checkbox'

.page_filter-opened .filter-modal
  z-index: 1000
  opacity: 1
  visibility: visible
  transition: opacity $default-transition, z-index 0s, visibility 0s

.filter-modal
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #FFFBF1
  flex-direction: column
  z-index: -1
  opacity: 0
  visibility: hidden
  transition: opacity $default-transition, z-index 0s $default-transition, visibility 0s $default-transition

.filter-modal_ready
  display: flex

.filter-modal-overlay
  display: none

.filter-modal-top
  flex-shrink: 0
  padding-top: 24px
  padding-bottom: 18px
  border-bottom: 1px solid $pink-light-color

.filter-modal-top-container
  display: flex
  justify-content: space-between
  align-items: center
  gap: 10px

.filter-modal-inner
  height: 100%
  min-height: 0
  overflow: hidden auto

.filter-modal-inner::-webkit-scrollbar
  width: 4px
  background-color: $beige-dark

.filter-modal-inner::-webkit-scrollbar-thumb
  width: 4px
  background-color: $pink-light-color

.filter-modal__reset
  padding: 4px 10px
  font-family: $wellingtons-font
  font-size: 12px
  line-height: 20.4px
  letter-spacing: 0.02em
  text-align: center

.filter-modal__close
  width: 32px
  height: 32px
  flex-shrink: 0
  margin-left: auto
  margin-right: -8px
  +svg

.filter-group
  border-bottom: 1px solid $pink-light-color

.filter-group_opened .filter-group__icon
  transform: rotate(-180deg)

.filter-group-top
  padding-top: 24px
  padding-bottom: 24px
  display: flex
  justify-content: space-between
  align-items: center
  gap: 10px
  cursor: pointer

.filter-group__title
  font-size: 15px
  line-height: 19px
  letter-spacing: 0.12em
  text-transform: uppercase

.filter-group__icon
  margin-left: auto
  flex-shrink: 0
  width: 15px
  transition: transform $default-transition
  +svg

.filter-group-inner
  padding-bottom: 25px

.filter-modal-bottom
  flex-shrink: 0
  padding: 20px 0
  text-align: center

.filter-modal__submit
  width: 100%
  padding: 9px
  font-size: 15px
  line-height: 18px
  letter-spacing: 0.12em
  text-align: center


+mq(tablet)
  .filter-modal
    width: 720px
    left: 0

  .filter-modal-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    cursor: pointer
    background-color: rgba(0,0,0, 0.2)
    z-index: -1
    visibility: hidden
    opacity: 0
    transition: opacity $default-transition, z-index 0s $default-transition, visibility 0s $default-transition

  .filter-modal-overlay_ready
    display: block

  .page_filter-opened .filter-modal-overlay
    z-index: 999
    opacity: 1
    visibility: visible
    transition: opacity $default-transition, z-index 0s, visibility 0s