/* Fonts */
$gothic-font: 'Engravers Gothic', Arial, sans-serif
$default-font: $gothic-font
$wellingtons-font: 'TT Wellingtons', Arial, sans-serif
$anastasia-font: 'AnastasiaScript', Georgia, serif

/* Colors */
$main-color: #242424
$main-color90: transparentize($main-color, .1)
$main-color80: transparentize($main-color, .2)
$main-color70: transparentize($main-color, .3)
$main-color60: transparentize($main-color, .4)
$main-color50: transparentize($main-color, .5)
$main-color40: transparentize($main-color, .6)
$main-color30: transparentize($main-color, .7)
$main-color12: transparentize($main-color, .88)
$main-color10: transparentize($main-color, .9)
$main-color4: transparentize($main-color, .96)

$pink-color: #DEADA6
$pink-color90: transparentize($pink-color, .1)
$pink-color80: transparentize($pink-color, .2)
$pink-color70: transparentize($pink-color, .3)
$pink-color60: transparentize($pink-color, .4)
$pink-color50: transparentize($pink-color, .5)
$pink-color12: transparentize($pink-color, .88)
$pink-color10: transparentize($pink-color, .9)

$pink-light-color: #EAD2CB

$beige: #FFFAED
$beige70: transparentize($beige, .3)
$beige-dark: #F9ECDC
$brown-dark: #707070
$orange-color: #DE7553
$green-color: #C2DEA6

$brown-light: #A19892
$brown-light10: transparentize($brown-light, .9)

/* Breakpoints
  Точки адаптивного перехода разрешений
  */
$bp1: 390px
$bp2: 768px
$bp3: 1280px
$bp4: 1920px

/* Wrappers
  Значения ширины контента контейнера
  */
$wp1: 420px
$wp2: 860px
$wp3: 1720px
$wp4: 1720px

$breakpoints: (mobile: $bp1, tablet: $bp2, desktop: $bp3, wide-screen: $bp4)

/* Container offsets
  Значения отступов контейнера по бокам
  */

$co1: 20px
$co2: 34px
$co3: 80px
$co4: 80px

/* Transition
  Значения времени переходов
  */
$default-transition: 0.2s

/* Header  height
  Значения высоты шапки
  */
$hh1: 95px
$hh2: 101px
$hh3: 109px
$hmh: 50px

/* Header  height
  Значения высоты фиксированной шапки
  */
$hhFixMobile: 75px
$hhFixTablet: 75px
$hhFixDesktop: 75px