@import "../../variables/variables"
@import "../../mixins/mixins"
@import "../../catalog-modal/catalog-modal"
@import "../../catalog-delivery/catalog-delivery"
@import "../../catalog-detail-card-info/catalog-detail-card-info"

.catalog-detail-card-info
  margin: 30px 0 0

+mq(desktop)
  .catalog-detail-card-info
    margin-top: 40px
    max-width: 860px