@font-face
    font-family: 'AnastasiaScript'
    src: url('AnastasiaScript.woff2') format('woff2'), url('AnastasiaScript.woff') format('woff'), url('AnastasiaScript.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap


