.homepage-catalog
  margin: 35px 0 50px
  overflow: hidden

.homepage-catalog-top
  margin-bottom: 30px

.homepage-catalog-slider
  overflow: visible
  max-width: 300px
  margin: 0 auto


.homepage-catalog-slide
  max-width: 300px

+mq(tablet, max)
  .homepage-catalog-toolbar
    display: none
    
+mq(tablet)
  .homepage-catalog-top
    position: relative
    padding: 0 70px

  .homepage-catalog-toolbar
    position: absolute
    right: 0
    top: 0
    display: flex
    align-items: center

  .homepage-catalog-slider__arrow
    width: 32px
    height: 32px
    +svg

  .homepage-catalog-slider
    max-width: none

+mq(desktop)
  .homepage-catalog
    margin: 100px 0 50px

  .homepage-catalog-top
    margin-bottom: 35px

  .homepage-catalog-slide
    width: 33.33%
    max-width: 515px