@import '../../variables/variables'
@import '../../mixins/mixins'
@import '../../custom-fancybox/custom-fancybox'
@import '../../success-message/success-message'

.form-hidden
  position: absolute
  top: 0
  left: 0
  z-index: -2
  width: 0
  height: 0
  opacity: 0
  visibility: hidden

@import "form-checkbox"
@import "modal-form"