.button_linear
  font-size: 13px
  line-height: 1
  letter-spacing: 0.12em
  text-align: center
  text-transform: uppercase
  border: 1px solid $brown-dark
  padding: 6px 19px 9px

.button_filled-pink
  font-size: 13px
  line-height: 1
  letter-spacing: 0.12em
  text-align: center
  background-color: $pink-color
  color: $beige
  text-transform: uppercase
  border: 2px solid $beige
  outline: 1px solid $pink-light-color
